header.info {
    background: @color-grey;
    padding: 20px 0px;
    position: relative;
    text-align: right;
    color: @color-darkGray;
}

.info__address {
    font-size: 20px;
}

.info__phone {
    font-size: 30px;
}

.info__phone span {
    font-size: 19px;
}
.head menu {
    float: right;
    height: 100%;
}
.head__logo {
    float: left;
    height: 30px;
}

.head {
    background: @color-white;
    overflow: hidden;
    height: 90px;
}

.head__logo img {
    margin-top: -55px;
}

.head ul {
    height: 100%;
}
.head ul:before,
.head ul:after {
    content: " ";
    clear: both;
    display: block;
}
.head__item {
    float: left;
    line-height: 90px;
    padding: 0px;
    margin: 0px 10px;
    font-weight: bold;
}
.active.head__item  {
    box-shadow: inset 0px -4px 0px @color-red;
    color: @color-red;
}
