@import "vars.less";
@import "reset.less";
@import "galleria.less";
@import "header.less";
@import "slider.less";
@import "footer.less";

body{
  font-family: sans-serif;
}

.container {
    width: 1200px;
    margin: auto;
}
.container:before,
.container:after {
    content: " ";
    clear: both;
    display: block;
}

.btn {
    padding: 15px 25px;
    background: rgba(0,0,0, 0);
    border: 4px solid @color-white;
    font-size: 14px;
    font-weight: bold;
    color: @color-white;
    cursor: pointer;
    text-transform: uppercase;
}
.arrow-down {
    width: 35px;
    height: 35px;
    background: rgba(0,0,0,0);
    border: 4px solid @color-red;
    position: fixed;
    bottom: 2em;
    right: 10px;
    cursor: pointer;
}
.arrow-down:before,
.arrow-down:after {
    content: " ";
    position: absolute;
    top: 17px;
    left: 4px;
    width: 17px;
    transform: rotate(45deg);
    height: 3px;
    background: @color-red;
}
.arrow-down:after {
    transform: rotate(135deg);
    left: 14px;
}
.grey-field {
    background: @color-grey;
}
.section-title {
    font-size: 32px;
    text-align: center;

}
.section-line {
    width: 50px;
    height: 3px;
    display: block;
    margin: 25px auto;
    background: #91281e;
}