.article-new {
    margin-top: 35px;
    &__text {
        line-height: 22px;
        text-align: justify;

        h2{
            font-weight: bold;
            font-size: 1.2em;
            margin-bottom: .5em;
            margin-top: .5em;
        }

        ul{
            list-style: unset;
            margin-left: 1em;
        }

        > .image:nth-child(odd) {
            float: left;
            margin: 0 20px 10px 0;
        }
        > .image:nth-child(even) {
            float: right;
            margin: 0 0 10px 20px;
        }
    }
    &__date-wrapper {
        text-align: right;
        margin-top: 20px;
    }
    &__date {
        color: @color-darkGray;
    }
    p {
        margin-top: 10px;
    }
}
.articles-list {
    line-height: 22px;
    text-align: justify;

    .row {
        margin-top: 25px;
    }
    &__title {
        font-weight: bold;
        font-size: 20px;
        line-height: 32px;
        text-align: justify;
    }
    li, p {
        text-align: justify;
    }
    &__image {
        max-width: 100%;
        max-height: 100%;
        text-align: justify;

    }
    &__add-content {
        text-align: right;
    }
}
.articles-page {
    nav {
        margin: 20px auto 0px;
    }
}

.text {
    line-height: 22px;

    b,
    strong {
        font-weight: bolder;
    }
}
.treatment-list {
    font-size: 20px;
    line-height: 25px;
}