.slaider {
    min-height: 650px;
    background: url(/site/image/slide-1.jpg)
}
.slaider__cont-text {
    float: right;
    margin-top: 150px;
    max-width: 350px;
}
h3.slaider__title {

    font-weight: bold;
    font-size: 40px;
    margin-bottom: 20px;
}


.slaider__cont-text {
    color: #FFF;
    line-height: 24px;
}
.slaider .btn {
    display: block;
    margin-top: 28px;
}

